/*Common CSS start*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

/*Common CSS start*/

/*import and Declare Fonts Start*/

@font-face {
    font-family: or;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: ob;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: oeb;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

/*import and Declare Fonts Start*/

/* Preloader Part Start */

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}

.preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Preloader CSS End*/


body{
   color: #444;
  background: url("../images/tech/1.png");
}

/*===================
Header Part CSS Start
====================*/



.navbar {
  

    transition: all linear .3s;
}

.navbar-light .navbar-toggler {
    color: rgba(204, 202, 200, .8);
    border-color: rgba(204, 202, 200, .8);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 25px;
    font-size: 20px;
    font-family: or;
    color: #eee;
    transition: all linear .3s;
}

/*
.navbar-expand-lg .navbar-nav .nav-link::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    background: red;
    height: 3px;
    opacity: 0;
}


*/

.navbar-expand-lg .navbar-nav .nav-link:hover {

    color: #5192aa;

}



/*===================
Header Part CSS End
====================*/

/*===================
Banner Part CSS Start
====================*/
.banner-bg {
    background-color: #CAD3F0;
     padding-top: 150px;
}

.banner-bg .text {
    padding: 30px 0px;
}

.banner-bg .text h3 {
     font-family: or;
    color: #111;
    padding-bottom: 10px;
    font-size: 30px;
    text-transform: capitalize; 
}

.banner-bg .text h3 span {
    
    font-family: reb;
    font-weight: 900;
}

.banner-bg .social-link ul li {
    display: inline-block;
    padding-left: 50px;
    font-size: 14px;
    font-family: or;
    color: #fff;
}

.banner-bg .text .type-wrap {
    font-family: ob;
    color: #222;
    padding-bottom: 40px;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;

}


.banner-bg .text a {
    color: #000;
    padding: 8px 10px;
    background: #eee;
    text-decoration: none;
    transition: all linear .3s;
}

.banner-bg .text a:hover {

    background: #888;
    color: #fff;
    text-decoration: none;
}


/*===================
Banner Part CSS End
====================*/

/*===================
info Part CSS Start
====================*/


.info-main {
    
    padding: 50px 0px;
}

.info {
    padding: 70px 20px;
    box-shadow: 0px 0px 20px rgba(255, 251, 251, 0.2);
}

.info h3 {
    font-size: 30px;
    font-family: oeb;
    padding-bottom: 20px;
}

.info h3 span {
    font-size: 25px;
}

.info i {
    color: #52c0e8;
    font-size: 16px;
    line-height: 32px;  
    padding-right: 5px;  
}

.info p {
    font-family: or;
    font-size: 16px;
    line-height: 32px;
    text-transform: lowercase;
}

.info h5 {
    font-family: or;
    font-size: 20px;
    color: #eee;
}

/*===================
info Part CSS End
====================*/

/*back to top css start*/

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 50px;
    display: none;
}

.back-to-top i {
    width: 40px;
    height: 40px;
    background: #DDD;
    color: #170909;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

/*back to top css end*/

/*=====================================
Education And Background Part CSS Start
=======================================*/

.edu-body .text2 h5 {
    font-family: rb;
    color: #eee;
    padding-bottom: 10px;
    font-size: 20px;

}

.edu-body .text2 h4 {
    font-family: oeb;
    color: #5192aa;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
}


.edu-body .text2 p {
    font-family: or;
    margin: 10px 0 23px;
    font-size: 16px;
    line-height: 32px;
    color: white;




}

.education .education-head h2 {
    padding-bottom: 80px;
    padding-top: 80px;
    font-family: ob;
    color: #eee;
    text-transform: uppercase;

}

.education {
    position: relative;
    padding-bottom: 120px;
    padding-top: 30px;
    background: #111;

}

.edu-body {
    background: #222;
    padding: 70px 0px;
      box-shadow: 0px 0px 20px rgba(255, 251, 251, 0.2);

}

/*=====================================
Education And Experiance Part CSS End
=======================================*/

/*Work part CSS Start*/
.works{
    background:#CAD3F0;
    padding: 50px 0px;
}

/*Contact part css start*/
.contact{
     background: #111;
}
.contact-main {
    padding-bottom: 170px;
   
}

.contact-head h2 {
    padding-bottom: 80px;
    padding-top: 80px;
    font-family: ob;
    color:white;
    text-transform: uppercase;
}

.form-control {
    padding: 17px 20px;
    background: #333;
    text-align: center;
    text-transform: uppercase;
  
}

.mesg {
    padding-bottom: 167px;
    
}

.butn {
    padding: 14px 32px;
    background: none;
    color: #5192aa;
    border: 1px solid #5192aa;
    font-family: or;
    text-transform: uppercase;
    font-size: 18px;
    transition: all linear .3s;
   

}

.butn:hover {
    background: #5192aa;
    color: #fff;
    border: 1px solid #5192aa;
}


/*Contact part css End*/

/*footer part css start*/

.footer {
    text-align: center;
    background: #f2f0eb;
    padding: 30px 0px;

}

.footer h5 {
    color: #000000;
    font-family: or;

}

/*footer part css end*/

/*temp css*/
